---
---

@import "{{ site.theme }}";
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #015391;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Side navigation menu links */
.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  font-weight: normal;
}

.sidenav a:hover {
  font-weight: bold;
}

.main {
  margin-left: 200px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
